.App {
  text-align: center;
}

.logo {
  width: 80%;
  padding-top: 10px;
  padding-bottom: 20px;
}

.cart-header {
  width: 80%;
  padding-top: 10px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.half-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
}

.gallery-item {
  font-size: 2em;
  height: 200px;
  width: 20%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px;
  position: relative;
  border-radius: 25px;
  min-width: 200px;
}

.strip {
  border-radius: 25px;
  fill: rgb(255, 255, 255);
  opacity: 0.7;
  border-radius: 25px;
  height: 100%;
  width: 100%;
}

.title-text {
  position: absolute;
  padding-left: 10px;
  bottom: 0;
  font-size: large;
  width: 95%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  line-height: 1em;
  max-height: 2em;
  top: 0;
  font-weight: bolder;
}

.size-text {
  position: absolute;
  padding-left: 10px;
  font-size: large;
  top: 45px;
}

.price-text {
  position: absolute;
  padding-left: 10px;
  font-size: large;
  top: 120px;
}

.cart {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 12px;
  bottom: 6px;
  cursor: pointer;
}

.total-price {
  width: 80%;
}
